extends layout

block content
    div.p-5
        h1 Register 
        form(action='/register', method='post')
            #form-group
                label Username: 
                input.form-control(name='username', type='text')
            #form-group
                label Email: 
                input.form-control(name='email', type='text')
            #form-group
                label Password: 
                input.form-control(name='password', type='text')
            br
            input.btn.btn-primary(type='submit', value='Submit')